version: "3.9"

services:
  arcabouco-database:
    image: postgres
    container_name: arcabouco-database
    restart: always
    environment:
      - POSTGRES_USER=arcabouco
      - POSTGRES_PASSWORD=arcabouco
      - POSTGRES_DB=arcabouco
    volumes:
      - ../postgresql/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
