<!DOCTYPE html>
<html lang="pt-br">

<head>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    button {
      border: none;
    }

    span {
      display: block;
    }


    #email {
      width: 100%;
      height: 100vh;
      background: #DAEAF7;
      padding-top: 30px;
    }


    #email .container {
      color: #000000;
      max-width: 800px;
      margin: 0 auto 0 auto;

    }

    #email .header {
      height: 150px;
      background: #102D45;
      padding-top: 20px;
      padding-right: 40px;
    }

    #email .logo {
      width: 90px;
      max-width: 90px;
      margin-left: auto;
    }

    #email .content {
      display: block;
      background: #ffffff;
      padding: 30px;
    }

    #email .title {
      font: 600 20px sans-serif;
      margin-bottom: 45px;
    }

    #email .text {
      font: 500 18px sans-serif;
      margin-bottom: 30px;
    }

    #email .confirm {
      font: 500 16px sans-serif;
      margin-bottom: 30px;
      padding: 15px 80px;
      color: white;
      background: #102D45;
      border-radius: 5px;
      cursor: pointer;
    }

    #email .footerText {
      font: 500 16px sans-serif;
      margin-top: 70px;
    }
  </style>
</head>

<div id="email">
  <div class="container">

    <div class="header">
      <div class="logo">
        <img class="logo" src="https://arcabouco.org/arcabouco-logo.png" alt="Arcabouço logo">
      </div>

    </div>

    <span class="content">
      <div class="title"> Olá, {{user.name}}. </div>

      <div class="text">Obrigado por contribuir adicionando o "{{software.name}}". Iremos analisar e lhe dar uma
        resposta</div>
      <div class="text">Iremos analisar e te dar uma resposta o quanto antes.</div>

      <div class="text">Em breve você poderá verificar no próprio <a href="https://arcabouco.org">Arcabouço</a> o status
        das suas sugestões. </div>

      <div class="footerText">Equipe Arcabouço</div>

    </span>

  </div>


</div>

<body>

</body>

</html>